@charset "UTF-8";
html {
    font-size: 100%;
}
body {
    font-family: 'Noto Sans','Noto Sans JP';
    color: #333;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.logo {
    line-height: 1px;
    width: 200px;
    display: block;
    margin: 20px 40px;
}
/*--header--*/
#header {
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
#header nav {
    background-color: #333;
    height: 30px;
}
#header nav ul {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}
#header nav li {
    line-height: 30px;
}
#header nav a {
    color: #fff;
    display: block;
    padding: 0 16px;
    font-size: 1.0rem;
}
#header nav a:hover {
    opacity: 0.7;
}
/*--#pickup--*/
#pickup {
    max-width: 1200px;
    margin: 120px auto 80px;
    padding: 0 16px;
}
#pickup ul {
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
#pickup ul li {
    font-size: 0.85rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}
#pickup ul li p {
    text-align: start;
}
#pickup ul li img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 10px;
}
#pickup ul li a {
    text-decoration: underline #333;
    color: #333;
    display: inline-block;
    font-size: 1.0rem;
    font-weight: normal;
}
#pickup ul li a:hover {
    opacity: 0.7;
}
/*--#container--*/
#container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    padding: 16px;
}
/*--main--*/
main section {
    margin-bottom: 50px;
}
.section-title {
    font-size: 1.25rem;
    margin-bottom: 20px;
    color: #333;
}
main section .date {
    font-size: 1.0rem;
    margin-bottom: 10px;
}
main section .text {
    font-size: 1.0rem;
    width: 80%;
    margin: 10px auto 30px;
    letter-spacing: 1px;
}
.readmore {
    text-align: center;
    font-size: 1.0rem;
}
.readmore a {
    color: #333;
    padding-bottom: 1px;
    position: relative;
    transition: all 0.3s ease;
}
.readmore a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 1px;
    background: #333;
    transition: all 0.3s ease;
}
.readmore a:hover::after {
    opacity: 0;
    transform: translateY(3px);
}
main section img {
    height: 500px;
    object-fit: cover;
    width: 100%;
}
/*--aside--*/
#author {
    padding: 0 16px;
    text-align: center;
    margin-bottom: 30px;
}
#author img {
    width: 150px;
    border-radius: 75px;
    margin-bottom: 50px;
}
#author .name {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 30px;
}
#author .text {
    font-size: 1.0rem;
}
/*--#ranking--*/
#ranking {
    padding: 0 16px;
}
#ranking li {
    margin-bottom: 20px;
}
#ranking li p {
    color: #333;
}
#ranking .name {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}
#ranking a {
    display: block;
}
#ranking a:hover {
    opacity: 0.7;
}
#ranking img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}
/*--#archive--*/
#archive {
    margin-bottom: 100px;
    padding: 0 16px;
}
#archive .name {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}
#archive dt {
    padding: 20px;
    border-top: 1px solid #333;
    width: 100%;
    font-weight: normal;
}
#archive dt:last-child {
    border-bottom: 1px solid #333;
}
/*--#footer--*/
#footer {
    background-color: #f1f1f1;
    padding: 50px 32px 40px;
}
#footer .contents {
    max-width: 1200px;
    margin: 0 auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
#footer .title {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 40px;
}
#footer .about .text {
    font-size: 0.875rem;
    margin-bottom: 30px;
}
#footer .about .list li {
    margin-bottom: 10px;
    font-size: 0.875rem;
}
#footer .about .list li:hover {
    opacity: 0.7;
    transition: 0.3s;
}
#footer .about .list li a {
    display: inline-block;
    color: #333;
    position: relative;
    padding-left: 15px;
}
#footer .about .list li a::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    width: 0;
    height: 0;
    margin-top: -6px;
    border-style: solid;
    border-width: 6px 0 6px 10px;
    border-color: transparent transparent transparent #333;
}
#footer .menu li {
    border-top: 1px solid #333;
    padding: 15px;
}
#footer .menu li:last-child {
    border-bottom: 1px solid #333;
}
#footer .menu li a {
    font-size: 0.875rem;
    color: #333;
    display: inline-block;
}
#footer .menu li a:hover {
    opacity: 0.7;
    transition: 0.3s;
}
#footer .twitter-tweet {
    border: 1px solid #fff;
    border-radius: 10px;
    height: 300px;
}
#footer .copy {
    text-align: center;
    font-size: 0.5rem;
    color: #333;
}
@media screen and (max-width: 800px) {
    #pickup ul {
        display: grid;
        grid-template-columns: 1fr;
    }
    #container {
        display: grid;
        grid-template-columns: 1fr;
    }
    #footer .contents {
        display: grid;
        grid-template-columns: 1fr;
    }    
}